[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/nagard98/imgui.git
	branch = docking
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/DirectXTK"]
	path = external/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
