[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/nagard98/imgui.git
	branch = docking
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/DirectXTK"]
	path = external/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
[submodule "external/imgui-filebrowser"]
	path = external/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser.git
[submodule "libyaml"]
	path = external/libyaml
	url = https://github.com/yaml/libyaml.git
[submodule ".\\external\\xxHash"]
	path = .\\external\\xxHash
	url = https://github.com/Cyan4973/xxHash.git
